html, body {
    background: #1c1c1c;
    //background: #333;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Inconsolata';
    font-size: large;
}
.presentationcontainer {
    height: 100%;
    width: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* Don't show a callout when user long-taps on a link */
    -webkit-tap-highlight-color: rgba(255,255,255,0); /* Disable the ugly tap highlighting */
}
.no_padding {
    padding: 0px !important;
}
.terminal {
    background: #121212 !important;
    color: #fff;
    font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 16px;
}
.terminal-cursor {
    background: #fff !important;
}
.terminal .counter, .slide.hide-counter .counter {
    display: none;
}
.terminal * {
    font-size: 10px;
    padding: 0px;
    line-height: 10px;
}
#presentation > div {
    margin: 0% 10%;
    padding: 25px;
    display: inline-block;
    height: 400px;
    width: 600px;
    background: #1c1c1c;
    color: #f1f1f1;
    float: left;
}
.slide {
    height: 400px;
    width: 600px;
    position: relative;
}
.counter {
    position: absolute;
    bottom: 20px;
    right: 25px;
    text-align: right;
    font-size: x-small;
    line-height: 10px;
    color: rgba(255, 255, 255, .35);
}
ul {
    line-height: 40px;
}
li {
    line-height: 30px;
}
.slide h3 {
    padding-bottom: 15px;
}
.center-wrapper {
    width: 550px;
    height: 350px;
    line-height: 350px;
}
.center {
    width: 550px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
